# Dependencies
node_modules/

# Environment files
.env*
*.local

# Build outputs
dist/
dist-ssr/

# Custom project folders
# help to ignore the the public folder which is inside the server

/server/assets/
/serverpublic/
